body {
  background-color: #fcebb6;
  color: #221811;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
header {
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: brown;
  background-image: linear-gradient(rgba(0, 0, 0, 0.515), brown);
  padding: 15px 15px 15px 15px;
}
#pf_header {
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: rgb(0, 61, 6);
  background-image: linear-gradient(rgba(0, 0, 0, 0.515), rgb(7, 62, 8));
  padding: 15px 15px 15px 15px;
}

span {
  color: red;
}
#title {
  padding-top: 15px;
  color:#ffffff;
  font-style: oblique;
}

hr {
  color:rgb(0, 0, 0);
  background-color:rgb(0, 0, 0)"
}
.navbar {
  overflow: hidden;
  background-color: #3b3836;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#char_form {
  border: 10px double black;
  margin: 2% 2% 2% 2%;
  justify-content: center;
  width: 50%;
}
.checkboxes {
  font-size: small;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  width: 100%;
  height: 90px;
  background-color: bisque;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 50%;
  float: right;
  margin: auto;
  padding: 15px 15px 15px 15px;
}

.input_field {
  width: 50%;
}
.text {
  text-align: left;
  width: 100%;
  float: left;
  margin: auto;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}
.video {
  padding-left: 5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.label {
  padding: 15px 15px 15px 15px;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}
.logo {
  padding: 5px 5px 5px 5px;
}
#wrapper {
  margin: 20px auto;
  width: 100%;
  height: 100%;
  background-color: bisque;
  max-width: 1000px;
  text-align: left;
  padding-bottom: 100px;
  position: relative;
  border: 1px solid black;
}

#summary {
  width: 50%;
  border: #221811;
  border-width: 1px;
  position: relative;
  top: 1px;
}

#exhausttable {
  border: 2px solid black;
  text-align: center;
}

#exhausttable tr:nth-of-type(even) {
  background-color: rgb(207, 169, 123);
}

#exhausttable td {
  border: 1px solid black;
}
#exhausttable th {
  border: 1px solid black;
  background-color: rgb(207, 169, 123);
}
#pointtable {
  border: 2px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#pointtable td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
#pointtable th {
  border: 1px solid black;
  background-color: rgb(207, 169, 123);
}
#pointtable tr:nth-of-type(even) {
  background-color: rgb(207, 169, 123);
}

#expwealthtable {
  border: 10px groove black;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#expwealthtable td {
  border: 1px solid black;
  padding: 1px 1px 1px 1px;
}
#expwealthtable th {
  border: 1px solid black;
  background-color: rgb(207, 169, 123);
}
#expwealthtable tr:nth-of-type(even) {
  background-color: rgb(207, 169, 123);
}

#return_home {
  text-decoration: none;
  margin-left: 2%;
  margin-bottom: 2%;
  font-size: 16px;
  padding: 2px 2px 2px 2px;
}
.pageLabel {
  border-bottom: 1px solid black;
  padding-left: 1%;
}

#homeLabel {
  padding-left: 3%;
}

.bolded {
  font-weight: bold;
}

.button {
  margin-bottom: 1%;
  border-radius: 8px;
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  border: 1px solid black;
  font-size: 16px;
}
.button:hover {
  background-color: #3b3836;
}

.externallink {
  text-decoration: none;
}

#externallist {
  list-style-type: circle;
}
hr {
  height:2px;
  border-width:0;
  color:rgb(0, 0, 0);
  background-color:rgb(0, 0, 0);
}