body {
  background-color: #fcebb6;
  color: #221811;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header {
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: brown;
  padding: 15px 15px 15px 15px;
}
.navbar {
  overflow: hidden;
  background-color: #3b3836;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  width: 100%;
  height: 90px;
  background-color: bisque;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 50%;
  float: right;
  margin: auto;
  padding: 15px 15px 15px 15px;
}
.text {
  text-align: left;
  width: 100%;
  float: left;
  margin: auto;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}
.video {
  padding-left: 5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.label {
  padding: 15px 15px 15px 15px;
  align-items: center;
}
.logo {
  padding: 5px 5px 5px 5px;
}
#wrapper {
  margin: 20px auto;
  width: 100%;
  height: 100%;
  background-color: bisque;
  max-width: 1000px;
  text-align: left;
  padding-bottom: 100px;
  position: relative;
  border: 1px solid black;
}

#summary {
  width: 50%;
  border: #221811;
  border-width: 1px;
  position: relative;
  top: 1px;
}

#exhausttable {
  border: 2px solid black;
  text-align: center;
}

#exhausttable td {
  border: 1px solid black;
}
#exhausttable th {
  border: 1px solid black;
}

.pageLabel {
  border-bottom: 1px solid black;
  padding-left: 1%;
}

#homeLabel {
  padding-left: 3%;
}
